{{ range .Alerts }}
<div class="alert alert-warning" role="alert"> {{ . }}</div>
{{ end }}
<form method="post" action="/jobs/submit">
    <div class="mb-3">
        <input type="text" class="form-control" id="urlInput" name="url">
    </div>
    <button type="submit" class="btn btn-primary">Add a new job</button>
    </form>
<h1>Running jobs</h1>
<ul class="list-group">
    {{ range .Jobs }} 
    <li class="list-group-item d-flex justify-content-between align-items-center">{{.URL}}
    <span class="badge bg-primary rounded-pill">state {{.State}}</span>
    <span class="badge bg-primary rounded-pill">spend {{.Spend}}</span>
    <a class="badge bg-primary rounded-pill" href="/jobs/status?job={{.EscapeURL}}">log</a>
   </li>
   {{ end }}
</ul>
