<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BBDown WEB</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<main class="container center" style="margin-top: 2.4rem;"> {{ range .Alerts }} <div class="alert alert-warning"
        role="alert"> {{ . }} </div> {{ end }} <form method="post" action="/jobs/submit">
        <div class="mb-3">
            <input type="text" class="form-control" id="urlInput" name="url">
        </div>
        <button type="submit" class="btn btn-primary">Add a new job</button>
    </form>
    <h1>Running jobs</h1>
    <ul class="list-group"> {{ range .Jobs }} <li
            class="list-group-item d-flex justify-content-between align-items-center">{{.URL}} <span
                class="badge bg-primary rounded-pill">state {{.State}}</span>
            <span class="badge bg-primary rounded-pill">spend {{.Spend}}</span>
            <a class="badge bg-primary rounded-pill" href="/jobs/status?job={{.URL}}">log</a>
        </li> {{ end }} </ul>
</main>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
    crossorigin="anonymous"></script>

<body>
</body>

</html>
